// Device tree overlay for the right half of the Sofle keyboard with IL0323 display

&i2c1 {
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "SSD1306_RIGHT";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        row-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        reset-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
        dc-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
    };
};


&spi1 {
    sk6812_strip: sk6812-strip {
        compatible = "worldsemi,ws2812-spi";
        label = "SK6812_STRIP";
        chain-length = <29>;  // Anzahl der LEDs auf der rechten Seite
        spi-max-frequency = <8000000>;
        color-order = "GRB";
        pixel-format = "RGB";
    };
};
